@page
@model BabyPedia.Pages.Pedia.SubscriptionPayment

@{
    ViewData["Registered"] = true;
    Layout = "_Layout";
}
<div class="container">
    <h1 class="text-center">
        <p class="text-center fw-bold text-primary">
            Subscription Payment for Pediatricians
        </p>
    </h1>
    <p class="text-primary">Payment Details</p>
    <div class="rounded-3 p-3 fw-bold" style="background-color: #C4C4C4 !important;">
        <p>
            BDO Acc No. 000-123-456-789
            <br/>
            BPI Acc No. 000-123-456
            <br/>
            GCASH: 09111-222-333
            <br/>
        </p>

    </div>
    <div class="container mx-auto row">
        <a class="m-2 btn text-dark mx-auto" style="background-color: #FF9E7A !important;">Pay Now!</a>
    </div>
</div>