@page

@{
    ViewBag.Title = "Parent";
    Layout = "_Layout";
}

<div class="container-fluid row">
    <div class="col-md-6 col-12">
        <img src="~/images/home_register.jpg"/>
    </div>
    <div class="col-md-6 col-12 my-auto fw-bold d-flex flex-column">
        <a href="/parent/appointmentlist" class="h1 mb-4 row text-decoration-none">Online Appointment</a>
        <a href="/parent/patientrecord" class="h1 mb-4 row text-decoration-none text-danger">Patient Record</a>
        <a href="/parent/vaccinesearch" class="h1 mb-4 row text-decoration-none">Vaccine Information</a>
        <a href="/parent/partneredpedias" class="h1 mb-4 row text-decoration-none text-danger">Partnered Pediatricians</a>
    </div>
</div>