@page


@{
    ViewData["Title"] = "Prescription";
    Layout = "_Layout";
}

<div class="container d-flex flex-column align-items-center shadow-lg" style="max-width: 500px">
    <header class="w-100 d-flex justify-content-center p-3">
        <img class="img-fluid" src="~/images/logo.jpg" alt="Hospital Logo"/>
        <div class="d-flex align-items-center">
        </div>
    </header>
    <div class="d-flex justify-content-around container-fluid">
        <p class="fw-bold">DELA CRUZ, JUAN</p>
        <p class="">1/1/2022</p>
    </div>
    <div class="d-flex justify-content-around container-fluid">
        <p class="fw-bold">CONSULTATION</p>
        <p class="">1:01:55PM</p>
    </div>
    <main class="w-100 my-5 border-top border-bottom">
        <h1 class="text-center m-2">PRESCRIPTION</h1>
    </main>
    <div class="w-100" style="min-height: 300px">
        <img src="https://static.vecteezy.com/system/resources/previews/009/012/556/original/medical-symbol-rx-signage-template-free-vector.jpg" style="max-width: 150px"/>
    </div>
    <footer class="w-100 d-flex justify-content-between p-3">
        <p></p>
        <p class="text-center">
            Dr. Juana Dela Cruz<br/>
            Department of Pediatric<br/>
            PRC NO.: 123456
        </p>
    </footer>
</div>