@{
    ViewData["Title"] = "About us";
}

<div class="container row">
    <div class="col-md-6 col-6">
        <img src="~/images/about.jpg"/>
    </div>
    <div class="col-md-6 col-6 my-auto text-center">
        <h1 class="text-center">
            <p class="text-center">
                About
                <span class="text-danger">
                    BabyPedia
                </span>
            </p>
        </h1>
        <p>
            As the Coronavirus disease pandemic is still ongoing, the importance of technology arises. Online work is become the standard norm
            due to the New Normal crisis of staying at home, doing our best not to spread the virus any further.
        </p>
        <p>
            With that said, face-to-face appointments must be limited as a safety precaution for those who wish to meet doctors and health worksers in health
            centers and hospitals. These apply to parents/guardians especialy the ones tending to their infatns or babies that
            need all sorts of mandatory vaccinations.
        </p>
        <p>
            While it is obvious that vaccinations will be held in clinics, health centers and hospitals, to minimize COVID-19 infection and spread an online platform sounds ideal
            in making appointments, regular check-ups, e-precriptions, monitoring of symptoms after vaccination, online payments for health services
            and check-ups, and information about each vaccination needed by infants/toddlers, and lastly, viewing of patient information.
        </p>
    </div>
</div>