@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid row">
    <div class="col-md-6 col-12 my-auto fw-bold">
        <h1 class="me-3 mb-2 long-rounded">
            <p class="text-start">
                <span class="text-danger">
                    Medical Portal
                </span>
                <span class="text-dark">
                    for Infants and Toddlers in the Philippines
                </span>
            </p>
        </h1>
        <p class="me-3">Eliminate the risk of being exposed to COVID-19. Use <span style="color: pink">BabyPedia</span> the efficient portal made for infants and toddlers.</p>
    </div>
    <div class="col-md-6 col-12">
        <img src="~/images/home_register.jpg"/>
    </div>
</div>

