@{
    ViewData["Title"] = "Services";
}


<h1 class="me-3 mb-2 long-rounded">
    <p class="text-center">
        <span class="text-danger">
            BabyPedia
        </span>
        <span class="text-dark">
            Services
        </span>
    </p>
</h1>

<div class="container-fluid row">
    <div class="d-flex col-md-6 col-12 flex-row bd-highlight mb-3">
        <div class="m-2 my-auto">
            <svg style="width: 60px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <title>map-marker-path</title><path d="M18,15A3,3 0 0,1 21,18A3,3 0 0,1 18,21C16.69,21 15.58,20.17 15.17,19H14V17H15.17C15.58,15.83 16.69,15 18,15M18,17A1,1 0 0,0 17,18A1,1 0 0,0 18,19A1,1 0 0,0 19,18A1,1 0 0,0 18,17M18,8A1.43,1.43 0 0,0 19.43,6.57C19.43,5.78 18.79,5.14 18,5.14C17.21,5.14 16.57,5.78 16.57,6.57A1.43,1.43 0 0,0 18,8M18,2.57A4,4 0 0,1 22,6.57C22,9.56 18,14 18,14C18,14 14,9.56 14,6.57A4,4 0 0,1 18,2.57M8.83,17H10V19H8.83C8.42,20.17 7.31,21 6,21A3,3 0 0,1 3,18C3,16.69 3.83,15.58 5,15.17V14H7V15.17C7.85,15.47 8.53,16.15 8.83,17M6,17A1,1 0 0,0 5,18A1,1 0 0,0 6,19A1,1 0 0,0 7,18A1,1 0 0,0 6,17M6,3A3,3 0 0,1 9,6C9,7.31 8.17,8.42 7,8.83V10H5V8.83C3.83,8.42 3,7.31 3,6A3,3 0 0,1 6,3M6,5A1,1 0 0,0 5,6A1,1 0 0,0 6,7A1,1 0 0,0 7,6A1,1 0 0,0 6,5M11,19V17H13V19H11M7,13H5V11H7V13Z"/>
            </svg>
        </div>
        <div class="m-2 my-auto">
            <div class="d-flex flex-column bd-highlight mb-3">
                <div class="p-2 bd-highlight fw-bold">
                    <h5>Online Consultation</h5>
                </div>
                <div class="p-2 bd-highlight">
                    <p class="text-primary">
                        Consult with our partnered pediatricians.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex col-md-6 col-12 flex-row bd-highlight mb-3">
        <div class="m-2 my-auto">
            <svg style="width: 60px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <title>needle</title><path d="M11.15,15.18L9.73,13.77L11.15,12.35L12.56,13.77L13.97,12.35L12.56,10.94L13.97,9.53L15.39,10.94L16.8,9.53L13.97,6.7L6.9,13.77L9.73,16.6L11.15,15.18M3.08,19L6.2,15.89L4.08,13.77L13.97,3.87L16.1,6L17.5,4.58L16.1,3.16L17.5,1.75L21.75,6L20.34,7.4L18.92,6L17.5,7.4L19.63,9.53L9.73,19.42L7.61,17.3L3.08,21.84V19Z"/>
            </svg>
        </div>
        <div class="m-2 my-auto">
            <div class="d-flex flex-column bd-highlight mb-3">
                <div class="p-2 bd-highlight  fw-bold">
                    <h5>Vaccination</h5>
                </div>
                <div class="p-2 bd-highlight">
                    <p class="text-primary">
                        Facilitates home vaccination services to avoid exposre to COVID-19.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-12 d-flex flex-row bd-highlight mb-3">
        <div class="m-2 my-auto">
            <svg style="width: 60px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <title>clipboard-list</title><path d="M19 3H14.82C14.4 1.84 13.3 1 12 1S9.6 1.84 9.18 3H5C3.9 3 3 3.9 3 5V19C3 20.1 3.9 21 5 21H19C20.1 21 21 20.1 21 19V5C21 3.9 20.1 3 19 3M7 8H9V12H8V9H7V8M10 17V18H7V17.08L9 15H7V14H9.25C9.66 14 10 14.34 10 14.75C10 14.95 9.92 15.14 9.79 15.27L8.12 17H10M11 4C11 3.45 11.45 3 12 3S13 3.45 13 4 12.55 5 12 5 11 4.55 11 4M17 17H12V15H17V17M17 11H12V9H17V11Z"/>
            </svg>
        </div>
        <div class="m-2 my-auto">
            <div class="d-flex flex-column bd-highlight mb-3">
                <div class="p-2 bd-highlight  fw-bold">
                    <h5>Appointment Booking</h5>
                </div>
                <div class="p-2 bd-highlight">
                    <p class="text-primary">
                        Book an appointment for check-up, consultation, and immunization.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-12 d-flex flex-row bd-highlight mb-3">
        <div class="m-2 my-auto">
            <svg style="width: 60px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <title>record-circle</title><path d="M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2M12,9A3,3 0 0,1 15,12A3,3 0 0,1 12,15A3,3 0 0,1 9,12A3,3 0 0,1 12,9Z"/>
            </svg>
        </div>
        <div class="m-2 my-auto">
            <div class="d-flex flex-column bd-highlight mb-3">
                <div class="p-2 bd-highlight fw-bold">
                    <h5>Record Tracking</h5>
                </div>
                <div class="p-2 bd-highlight">
                    <p class="text-primary">
                        Keep track of your child's immunization records.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

