@{
    ViewData["Title"] = "Data Privacy";
}
<style>
    
</style>

<h1 class="me-3 mb-2 long-rounded">
    <p class="text-center">
        <span class="text-danger">
            Data Privacy Notice
        </span>
    </p>
</h1>

<h6 class="me-3 mb-2 long-rounded">
    <p class="text-center">
        <span class="text-dark">
            BabyPedia respects your right to privacy and is committed to protect the confidentiality of your personal information thus has adapted necessaary
            organizational, technical, and physical measures to secure it. BabyPedia is bound to comply with the Data Privacy Act of 2012 (RA 10173), its implementing
            Rules and Regulations and relevant issuances of the National Privacy Commission.
        </span>
    </p>
</h6>

<h6 class="me-3 mb-2 long-rounded">
    <p class="text-center">
        <span class="text-dark">
           By entering your details in this website, you are consenting to our collection of data in accordance with this
           Privacy Notice. Information is also processed via web platform. Please refer to the privacy policy found on their wesbite.
        </span>
    </p>
</h6>
<h6 class="me-3 mb-2 long-rounded">
    <p class="text-center">
        <span class="text-dark">
            The information processed: Name and Address will be used for documentation, communication, check-ups, and system purposes. 
        </span>
    </p>
</h6>

<h6 class="me-3 mb-2 long-rounded">
    <p class="text-center">
        <span class="text-dark">
           Only authorized individuals of BabyPedia Team maintaining the website and other offices authorized will have access to this information 
           and will not be disclosed to third parties without your approval.
        </span>
    </p>
</h6>

<h6 class="me-3 mb-2 long-rounded">
    <p class="text-center">
        <span class="text-dark">
            We also use information gathered from you for abuse prevention and privacy protection.
            BabyPedia shall only retain the said personal information until it seves its purpose, after which
            it shall be securely disposed of.
        </span>
    </p>
</h6>

<h6 class="me-3 mb-2 long-rounded">
    <p class="text-center">
        <span class="text-dark">
            Questions and queries will be entertained via our email babypediamail@gmail.com
        </span>
    </p>
</h6>



<input type="button" id="back" value="Back" />
<input type="button" id="proceed" value="Proceed" />
