@{
    ViewData["Title"] = "Pedia Registration";
}


<div class="text-center container-fluid row text-primary">
    <h1 class="display-4 long-rounded fw-bold">Registration</h1>
    <p class="fw-bold text-dark">
        Register a BabyPedia account
    </p>
</div>
<div class="container-fluid row">
    <div class="col-md-6 col-12">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="username">
            <label for="username">Username</label>
        </div>
        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="email">
            <label for="email">Email</label>
        </div>
        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="password">
            <label for="password">Password</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="fname">
            <label for="fname">First Name</label>
        </div>
        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="lname">
            <label for="lname">Last Name</label>
        </div>
    </div>
    <div class="col-md-6 col-12">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="addr">
            <label for="addr">Address</label>
        </div>

        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="contactNum">
            <label for="contactNum">Contact Number</label>
        </div>

        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="prcLicense">
            <label for="prcLicense">PRC License Number</label>
        </div>

        <div class="form-floating mb-3">
            <input type="date" class="form-control" id="prcExpiration">
            <label for="prcExpiration">PRC Expiration Date</label>
        </div>

        <div class="form-check mb-2">
            <input class="form-check-input" type="checkbox" value="" id="toscheck">
            <label class="form-check-label" for="toscheck">
                I agree to the <strong>Terms of Service</strong> and <strong>Privacy Policy</strong>
            </label>
        </div>
        <div class="form-check mb-2">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                I understand that personal data will be uploaded to the internet
            </label>
        </div>
        <div class="flex-column d-flex justify-content-between">
            <a class="mb-2 nav-link">Already have an account?</a>
            <button class="btn btn-primary">
                <i class="bi bi-arrow-bar-right"></i> Register
            </button>
        </div>
    </div>
</div>
@* *@
@* <div class="text-center"> *@
@*     <h1 class="display-4">Register a BabyPedia Account</h1> *@
@* </div> *@
@* *@
@* <div> *@
@*     Username <input type="text" name="User" id="Username" value="" /> *@
@* </div> *@
@* *@
@* <div> *@
@*     Email <input type="text" name="Email" id="Email" value="" /> *@
@* </div> *@
@* *@
@* <div> *@
@*     First Name <input type="text" name="FName" id="FirstName" value="" /> *@
@* </div> *@
@* *@
@* <div> *@
@*     Last Name <input type="text" name="LName" id="LastName" value="" /> *@
@* </div> *@
@* *@
@* <div> *@
@*     Address <input type="text" name="Address" id="Address" value="" /> *@
@* </div> *@
@* *@
@* <div> *@
@*     Contact Number <input type="text" name="Contact" id="ContactNo" value="" /> *@
@* </div> *@
@* *@
@* <div> *@
@*     PRC License Number <input type="text" name="PRCLn" id="PRCLn" value="" /> *@
@* </div> *@
@* <div> *@
@*     PRC Expiration Date <input type="text" name="PRCEd" id="PRCEd" value="" /> *@
@* </div> *@
@* *@
@* <input type="submit" value="Register" /> *@