<style>
    #age, #desc, #symp, #comp {
        display: grid;
        grid-gap: 5px;
        width: 320px;
        padding: 10px;
        border: 5px solid gray;
        margin: 0;
    }
</style>


<h1 class="me-3 mb-2 long-rounded">
    <p class="text-center">
        <span class="text-primary">
            BCG
        </span>
    </p>
</h1>

<h5 class="text-primary"> Recommended Age</h5>
<div id="age">
   Within a few days of being born and up to six months old.
</div>

<h5 class="text-primary">Diseases</h5>
<div id="desc" class="text-center">Tubercolosis;</div>

<h5 class="text-primary">Symptoms</h5>
<div id="symp" class="text-center">
    Fever, Tiredness, Sweating at night time, and Weight Loss.
</div>

<h5 class="text-primary">Complications</h5>
<div id="comp" class="text-center">Miliary TB. Low-grade fever, Malaise, Weight Loss, and Fatigue.</div>
