<style>
    #age, #desc, #symp, #comp {
        display: block;
        grid-gap: 5px;
        width: 320px;
        padding: 10px;
        border: 5px solid gray;
        margin-left: auto;
        margin-right: auto;
    }
</style>


<h1 class="me-3 mb-2 long-rounded">
    <p class="text-center">
        <span class="text-primary">
            IPV
        </span>
    </p>
</h1>

<h5 class="text-primary"> Recommended Age</h5>
<div id="age">
    Dose 1: 2 months old
    Dose 2: 4 months old
    Dose 3: 6-18 months old
    Dose 4: 4-6 years old
</div>

<h5 class="text-primary">Diseases</h5>
<div id="desc" class="text-center">Polio Virus</div>

<h5 class="text-primary">Symptoms</h5>
<div id="symp" class="text-center">
    Fever, Headache, Muscle Aches, Sore Throat, and Nausea.
</div>

<h5 class="text-primary">Complications</h5>
<div id="comp" class="text-center">Extreme Drowsiness, Fainting, Seizures (Black-out or Convulsions) High Fever.</div>
